{% extends 'base.html.twig' %}

{% block title %}Hello TourController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/Users/judithsevy/Desktop/Cours 2022-2023/Simplon/Dev web et applications/Chef d'oeuvre/loyasse-back/src/Controller/TourController.php'|file_link(0) }}">src/Controller/TourController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Users/judithsevy/Desktop/Cours 2022-2023/Simplon/Dev web et applications/Chef d'oeuvre/loyasse-back/templates/tour/index.html.twig'|file_link(0) }}">templates/tour/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
